<section class="flex-column flex-start margin-top width-600">
  <section class="flex-column margin-left margin-right">
    <mat-form-field appearance="outline" class="flex-row flex-center">
      <mat-label>Album ID</mat-label>
      <input
        matInput
        aria-describedby="search-text"
        (keyup)="setResults()"
        [(ngModel)]="searchText"
        type="number"
        autofocus
      />
    </mat-form-field>
    <button
      class="flex-row flex-center"
      mat-button
      color="primary"
      (click)="setResults()"
    >
      Search
    </button>
  </section>

  <section class="margin-top margin-bottom">
    <mat-list *ngFor="let photo of photos">
      <mat-list-item class="list-group-item">
        [{{ photo.id }}] {{ photo.title }}
      </mat-list-item>
    </mat-list>
  </section>
</section>
